extends ../../includes/layout-dashboard

block content
  ol.breadcrumb
    li.breadcrumb-item
      a(href="/dashboard") Home
    li.breadcrumb-item.active
      span City
  h1.page-header City
  include ../../includes/delete-confirm
  div.table-responsive
    table#list.table.table-striped
      thead
        tr
          th #
          th Region 
          th City
          th Description
          th.actions-2
            a#adder.btn.btn-success.list-action-text(href="./city/entry", role="button", title="Add")
              i.fa.fa-plus

      tbody
  script.
    $(document).ready(function() {
      var token = "!{token}";
      $('div.sidebar-sticky li.nav-item').removeClass('active');
      $('li#menu-city').addClass('active');
      $('div#general_subitems').addClass('show');
      var access = ("#{permission.access}").split(",");
      if (access[1] != "1") $("#adder").hide();

      $.fn.dataTable.ext.errMode = 'none';
      var table = $('table#list').on('error.dt', function(e, settings, techNote, message) {
          console.log('DataTables Error: ', message);
          alert('Read data error!');
        }).DataTable({
          "autoWidth": true,
          "fixedHeader" : {
            "headerOffset": 50,
            "header": true
          },
          "ajax": { 
            "url": "/api/city?columns=city.cityname,city.id,city.description,region.region&join=left,region,regionid,eq,region.id",
            "headers": {"authorization": "Bearer " + token},
            "dataSrc": "city"
          },
          "columns": [
              { "data": "id" },
              { "data": "region", "className": "mm" },
              { "data": "cityname", "className": "mm" },
              { "data": "description", "className": "mm" },
              { "data": "actions", "className": "nowrap" }
          ],
          "columnDefs": [
            { targets: 0, render: dataTableIndexRenderer() },
            { targets: 4, orderable: false, render: dataTableActionsRenderer("./city/edit", "#{permission.access}") }
          ]
      });

      $('#dialogDeleteConfirm').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');
        $(this).attr('data-id', id);
        $(this).find('#dialogAccept').on('click', function(ev) {
          var deleteUrl = '/city/delete/' + id;
          doDelete(deleteUrl, token, function() {
            table.ajax.reload();
          });
        });
      }).on('hide.bs.modal', function (event) {
        $(this).attr('data-id', '');
        $(this).find('#dialogAccept').off('click');
      });
    });