extends ../../includes/layout-dashboard

block content
  ol.breadcrumb
    li.breadcrumb-item
      a(href="/dashboard") Home
    li.breadcrumb-item.active
      span Customer
  h1.page-header Customer
  include ../../includes/delete-confirm
  include ../../includes/active-confirm
  include ../../includes/inactive-confirm
  div.alert.alert-dismissible#alert(role='alert')
    strong.alert-title#alertTitle
    span#alertMessage
    button.close(type='button', data-hide='alert', aria-label='Close')
      span(aria-hidden='true') &times;
  div.progress.mb-1#progress
    div.progress-bar.progress-bar-striped.progress-bar-animated(role='progressbar', aria-valuenow='100', aria-valuemin="0", aria-valuemax="100", style="width: 100%")
  
  div.table-responsive
    table#list.table.table-striped
      thead
        tr
          th #
          th Name
          th Customer Code
          th Mobile Phone
          th Other Phone
          th Email
          th City
          th Address
          th Is Active
          th.actions-2
            a#adder.btn.btn-success.list-action-text(href="./customer/entry", role="button", title="Add")
              i.fa.fa-plus
      tbody

  div.modal.fade#modalImport(tabindex="-1", role="dialog")
    div.modal-dialog.modal-sm(role='document', style='max-width:730px')
      div.modal-content
        div.modal-header
          h4.modal-title.mm Import
          button.close#btnClose(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        div.modal-body
          form.form-horizontal#entryForm(method='POST', enctype="multipart/form-data", action='/file/tableimport/import')
            div.form-group.row
              div.col-sm-2
                label.control-label.font(for='excel') File
              div.col-sm-6
                input.form-control#excel(type='file', name='file',  accept='.xls,.xlsx,.csv', change="changeEvent($event)", required, autofocus)
              div.col-sm-1.sample
                div.sample-btn
                  a(href=`https://drive.google.com/file/d/13PlTLqpDt_TrxcCKAi9nPmIuEJXem76x/view?usp=sharing`, alt="sample", target=`_blank`, title=`sample`) Sample File
            div.row.justify-content-md-center.form-actions
              button.btn.btn-primary#submit(type='submit', data-dismiss="modal" ) Save
              a.btn.btn-secondary#actionCancel(type='reset', role='button') Cancel
          form#postSuccessForm(method='GET', action='tableimport')

  script(src='https://momentjs.com/downloads/moment.js')
  script.
    $(document).ready(function() {
      var token = "!{token}";
      console.log("token ", token);
      $('div.sidebar-sticky li.nav-item').removeClass('active');
      $('li#menu-customer').addClass('active');
      $('div#customer_subitems').addClass('show');
      $("#alert").hide();
      $("#progress").hide();
      var access = ("#{permission.access}").split(",");
      console.log("access ", access);
      if (access[1] != "1") $("#adder").hide();

      var submitBtn = document.getElementById("submit");
      submitBtn.setAttribute("disabled", "");

      $.fn.dataTable.ext.errMode = 'none';
      var table = $('table#list').on('error.dt', function(e, settings, techNote, message) {
          console.log('DataTables Error: ', message);
          alert('Read data error!');
        }).DataTable({
          "autoWidth": true,
          //- "serverSide": true,
          //- "processing": true,
          "destroy": true,
          "fixedHeader" : {
            "headerOffset": 50,
            "header": true
          },
          "ajax": { 
            "url": "/api/customerview/getCustomerList",
            "headers": {"authorization": "Bearer " + token},
            "dataSrc": "data"
          },
          "columns": [
              { "data": "id" },
              { "data": "name", "className": "mm" },
              { "data": "code"},
              { "data": "mobile" },
              { "data": "phone" },
              { "data": "email" },
              { "data": "cityname", "className": "mm" },
              { "data": "address", "className": "mm" },
              { "data": "is_active" },
              { "data": "actions", "className": "nowrap" }
          ],
          "columnDefs": [
            { targets: 0, render: dataTableIndexRenderer() },
            { targets: 8, render: dataTableCustomerIsActive() },
            { targets: 9, orderable: false, render: dataTableActionsRenderer("./customer/edit", "#{permission.access}") }
          ],
          lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
          dom: "<'row'<'col-sm-12 col-md-12 mb-1'B>>" +
                "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",

          buttons: [
            {
              text: 'Import',
              charset: 'utf-8',
              className: 'success-import',
              action: function ( e, dt, node, config ) {
                $('#modalImport').modal('show');
              }  
            },
            {
              extend: 'excelHtml5',
              text: 'Export',
              charset: 'utf-8',
              className: 'success-excel',
              filename: 'J Mahar Export Customers List',
              title: 'J Mahar Export Customers List',
              exportOptions: {
                columns: [ 0, 1, 2, 3, 4, 5, 6,7 ]
              }, 
            },
          ]
      });

      $("#submit").on("click", function(ev) {
        if($('#excel').val() != "")
          $("#progress").show();
        $("#upload:hidden").on('change', function(){
          $('#entryForm').submit();
        });
        $('#modalImport').modal('toggle');
      });

      $("#excel").on('change', function (event) {
        if($('#excel').val() != "")
          submitBtn.removeAttribute("disabled");
      });

      $("#actionCancel").on('click', function(ev) {
        $('#excel').val("");
        submitBtn.setAttribute("disabled", "");
        if($('#excel').val() != "")
        setTimeout(function(){// wait for 5 secs(2)
           //window.location.reload(); // then reload the page.(3)
          window.location.replace("./tableimport");
        });
      });
      
      $('#entryForm').ajaxForm({
        success: function(data) {
          console.log('data in entry form ', data);
          if (data.message == "success") {
            console.log('data in entry form success', data.message);
            $("#progress").hide();
            $("#alertTitle").html("Success");
            $("#alertMessage").html("Importing Successful!");
            $("#alert").addClass("alert-success").show();
            $('#excel').val("");
            table.ajax.reload();

            var postFrm = $('#postSuccessForm');
            var params = $.url(postFrm.attr('action')).param();
            if (!params) {
              for(var key in params) {
                postFrm.append($('<input type="hidden" name="'+key+'" value="'+ params[key] +'" />'));
              }
            }
            window.setTimeout(function(){
                //- postFrm.submit();
            }, 2 * 1000);

          } else {
            $("#alertTitle").html("Error");
            $("#alertMessage").html(" Importing Error! ");
            $("#alert").addClass("alert-danger").show();
          }
        }
      });

      $('#dialogDeleteConfirm').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');
        $(this).attr('data-id', id);
        $(this).find('#dialogAccept').on('click', function(ev) {
          var deleteUrl = '/customer/delete/' + id;
          doDelete(deleteUrl, token, function() {
            table.ajax.reload();
          });
        });
      }).on('hide.bs.modal', function (event) {
        $(this).attr('data-id', '');
        $(this).find('#dialogAccept').off('click');
      });

      $('#dialogInactiveConfirm').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');
        $(this).attr('data-id', id);
        $(this).find('#dialogAccept').on('click', function(ev) {
          var inactiveUrl = '/customer/inactive/' + id;
          doInActive(inactiveUrl, token, function() {
            table.ajax.reload();
          });
        });
      }).on('hide.bs.modal', function (event) {
        $(this).attr('data-id', '');
        $(this).find('#dialogAccept').off('click');
      });

      $('#dialogActiveConfirm').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');
        $(this).attr('data-id', id);
        $(this).find('#dialogAccept').on('click', function(ev) {
          var activeUrl = '/customer/active/' + id;
          doActive(activeUrl, token, function() {
            table.ajax.reload();
          });
        });
      }).on('hide.bs.modal', function (event) {
        $(this).attr('data-id', '');
        $(this).find('#dialogAccept').off('click');
      });
    });