extends ../../includes/layout-dashboard

block content
  ol.breadcrumb
    li.breadcrumb-item
      a(href="/dashboard") Home
    li.breadcrumb-item.active
      span Order Delivery
  h1.page-header Order Delivery
  div.table-responsive
    table#list.table.table-striped
      thead
        tr
          th #
          th Date
          th Code
          th Customer
          th Car Gate
          th.actions-2
            a#adder.btn.btn-success.list-action-text(href="./order-delivery/entry", role="button", title="Add")
              i.fa.fa-plus
      tbody
  script.
    $(document).ready(function() {
      var token = "!{token}";
      $('div.sidebar-sticky li.nav-item').removeClass('active');
      $('li#menu-order-delivery').addClass('active');
      $('div#order_subitems').addClass('show');
      var access = ("#{permission.access}").split(",");
      if (access[1] != "1") $("#adder").hide();
      
      $.fn.dataTable.ext.errMode = 'none';
      var table = $('table#list').on('error.dt', function(e, settings, techNote, message) {
          alert('Read data error!');
        }).DataTable({
          "autoWidth": true,
          "fixedHeader" : {
            "headerOffset": 50,
            "header": true
          },
          "ajax": { 
            "url": "/api/order_delivery?columns=order_delivery.id,order_delivery.deliverycode,customer.name,date,car_gate.cargatename&join=left,customer,customerid,eq,customer.id,&join=left,car_gate,cargateid,eq,car_gate.id&order=date,desc&order=deliverycode,desc",
            "headers": {"authorization": "Bearer " + token},
            "dataSrc": "order_delivery",
          },
          "columns": [
              { "data": "id" },
              { "data": "date" },
              { "data": "deliverycode" },
              { "data": "name", "className": "mm" },
              { "data": "cargatename", "className": "mm" },
              { "data": "actions", "className": "nowrap" }
          ],
          "columnDefs": [
            { targets: 0, render: dataTableIndexRenderer() },
            { targets: 1, render: dataTableDateRenderer() },
            { targets: 5, orderable: false, render: dataTableDetailActionsRenderer("./order-delivery/detail", "#{permission.access}") }
          ]
      });
    });