extends ../../includes/layout-dashboard

block content
  ol.breadcrumb
    li.breadcrumb-item
      a(href="/dashboard") Home
    li.breadcrumb-item.active
      span Product Report
  h1.page-header Product Report

  form.form-horizontal#entryForm(method='post', action=`${postUrl}`, autocomplete='off')
    div.form-group.row
      label.col-sm-2.control-label(for='startdate') Start Date
      div.col-sm-4
        input.form-control.fromdate#start(type='text', name='start', required)

    div.form-group.row
      label.col-sm-2.control-label(for='enddate') End Date
      div.col-sm-4
        input.form-control.todate#end(type='text', name='end', required)

    div.row.justify-content-center.form-actions
      button.btn.btn-primary#loadBtn(type='button', role='button') Load
  
  div.table-responsive
    table#list.table.table-striped
      thead
        tr
          th SrNo.
          th Product Code
          th Name
          th Category
          th Subcategory
          th View Count
          th Sold Out Qty
      tbody
            
  script(src='https://momentjs.com/downloads/moment.js') 
  script.
    $(document).ready(function() {
      var token = "!{token}";
      console.log("token ", token);
      $('div.sidebar-sticky li.nav-item').removeClass('active');
      $('li#menu-product-report').addClass('active');
      $('div#report_subitems').addClass('show');
      var access = ("#{permission.access}").split(",");
      if (access[1] != "1") $("#action").hide();

      $.fn.dataTable.ext.errMode = 'none';

      var current = new Date();
      var lastWeek = moment().subtract(7, 'd').format("DD/MM/YYYY");
      console.log("lastWeek >>", lastWeek);
      $("#start").val(lastWeek);
      $("#end").val(convertDate(current));

      const data = {
        startdate: $("#start").val(),
        enddate: $("#end").val()
      };
      reload(data);

      function convertDate(date){
        return ((date.getDate() > 9) ? date.getDate() : ('0' + date.getDate())) + '/' + ((date.getMonth() > 8) ? (date.getMonth() + 1) : ('0' + (date.getMonth() + 1))) + '/' + date.getFullYear();
      }

      $("#loadBtn").on('click', function(event){
        const data = {
          startdate: $("#start").val(),
          enddate: $("#end").val()
        };
        reload(data);
      });

      function reload(data) {
        var table = $('table#list').DataTable({
          destroy: true,
          "fixedHeader" : {
            "headerOffset": 50
          },
          ajax: { 
            "url": "/api/productview/getProductReport?startdate="+data.startdate+"&enddate="+data.enddate,
            "type": "POST",
            "headers": {"authorization": "Bearer " + token}
          },
          columns: [
            { "data": "id" },
            { "data": "productcode"},
            { "data": "productname", "className": "mm" },
            { "data": "category", "className": "mm" },
            { "data": "sub_category", "className": "mm" },
            { "data": "viewcount" },
            { "data": "soldoutqty" }
          ],
          columnDefs: [
            { targets: 0, render: dataTableIndexRenderer(), orderable: false },
            { targets: [1, 2, 3, 4, 5, 6], orderable: false }
            //- { targets: 6, render: dataTableNetAmountWithCommas(), orderable: false },
          ],
          //- responsive: true,
          lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
          //- dom: 'lBftip',
          dom: "<'row'<'col-sm-12 col-md-6 mb-1'B><'col-sm-12 col-md-6'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
          buttons: [
            {
              extend: 'excelHtml5',
              text: 'Excel',
              charset: 'utf-8',
              className: 'success-excel',
              filename: 'Top 10 Customers',
              title: 'Top 10 Customers',  
            }, 
          ]
        });

        return table;
      }
    });