doctype html
html
  head
    meta(charset='utf-8')
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='width=device-width,initial-scale=1', name='viewport')
    meta(http-equiv="refresh", content="2;URL='./login'")
  //-   title Page Moved
    
  //- body
  //-   p This page has moved. Click 
  //-     a(href="./login") here
  //-     |  to go to the new page.